body {
    font-family: 'Ojuju', sans-serif;
}
.navbar-toggler-icon {
    background-color: #FFFCE9
}
/* Estilos para la barra de navegación */

.navbar-nav .nav-link,
.navbar-brand {
    color: #FFFCE9 !important;
    
}


//* Estilos para la sección de inicio */
.home {
    position: relative;
}

/* Estilos para la sección de introducción */
.intro {
    display: flex;
    justify-content: flex-start; /* Alinear elementos a la izquierda */
    align-items: center; /* Centrar verticalmente */
    color: #FFFCE9 !important;
    z-index: 1;
}

/* Estilos para la imagen "About Me" */
.about-me-image {
    width: 30%; /* Ajusta el tamaño de la imagen */
    max-width: 30vw; /* Limita el tamaño máximo de la imagen */
    border-radius: 30%; /* Ajusta el borde redondeado si es necesario */
    margin-bottom: 20px; /* Espacio inferior */
}

/* Estilos para las imágenes dentro de la sección de introducción */
.intro img {
    width: 60%; /* Ajusta el tamaño de la imagen al 50% del ancho del contenedor */
    max-width: 60vw; /* Limita el tamaño máximo de la imagen al 50% del ancho de la pantalla */
    border-radius: 50%;
    margin-right: 20px;
}

/* Estilos para el título de la sección "About Me" */
.about-me-section-title {
    text-align: center; /* Alinea el título al centro */
    margin-bottom: 20px; /* Espacio inferior */
}

/* Estilos para el contenido de la introducción */
.intro-content {
    display: flex; /* Cambio importante */
    flex-direction: column; /* Cambio importante */
    align-items: center; /* Centra horizontalmente */
    text-align: center; /* Centra el texto */
}

/* Estilos para el título dentro de la sección de introducción */
.intro h1 {
    margin-bottom: 7px; /* Para eliminar el espacio debajo del título */
}

/* Estilos para el encabezado */
header {
    position: relative;
    z-index: 0; 
}

/* Estilos para los detalles de "About Me" */
.about-me-details {
    text-align: center;
}
/* Estilos para hacer más pequeña la imagen de "About Me" */
.about-me-image {
    width: 20%; /* Ajusta el tamaño de la imagen */
    max-width: 20vw; /* Limita el tamaño máximo de la imagen */
    border-radius: 20%; /* Ajusta el borde redondeado si es necesario */
}

/* Estilos para las imágenes dentro de la sección "About Me" */
.about-me-section img {
    max-width: 100%; /* Ajusta el ancho máximo para que se adapte al contenedor */
    display: block; /* Para centrar la imagen horizontalmente */
    margin: 0 auto; /* Para centrar la imagen horizontalmente */
    margin-bottom: 20px; /* Agrega espacio inferior */
}
/* Estilos para hacer más pequeña la imagen de "About Me" */

/* Estilos para las imágenes dentro de los detalles de "About Me" */
.about-me-details img {
    max-width: 30%; /* Hace que la imagen sea un poco más pequeña */
    display: block; /* Centra la imagen */
    margin: 0 auto; /* Centra la imagen horizontalmente */
}

/* Estilos para los iconos */
.icons {
    display: flex;
    justify-content: space-around; /* Distribuye uniformemente los elementos a lo largo del contenedor */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan a la siguiente línea si no caben en la pantalla */
}

/* Estilos para las imágenes de los iconos */
.icons img {
    width: 100px; /* Tamaño de cada icono */
    height: 100px; /* Tamaño de cada icono */
    margin: 10px; /* Espacio entre los iconos */
}

/* Estilos para las transiciones de las imágenes de los iconos */
.icons img {
    transition: transform 0.5s ease;
}

/* Estilos para la animación de los iconos al pasar el mouse sobre ellos */
.icons img:hover {
    transform: translateY(20px); /* Cambia la distancia de caída aquí */
}

/* Estilos para las transiciones de las imágenes de la introducción */
.intro img {
    transition: transform 0.3s ease;
}

/* Estilos para la animación de las imágenes de la introducción al pasar el mouse sobre ellas */
.intro img:hover {
    transform: scale(1.5); /* Cambia el valor según sea necesario */
}

/* Media query para dispositivos móviles */
@media only screen and (max-width: 768px) {
    /* Cambiamos la disposición de la sección de introducción para que la imagen esté arriba y el texto abajo */
    .intro {
        flex-direction: column; /* Cambio importante */
        align-items: center; /* Centra horizontalmente */
    }
    .about-me-image {
        margin-bottom: 0; /* Eliminamos el espacio inferior */
    }
}




/* PROYECTICO */

.project-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project {
    width: calc(33.33% - 20px); /* Ancho de cada proyecto con espacio entre ellos */
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

.project img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.project .project-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    box-sizing: border-box;
    transform: translateY(100%);
    transition: transform 0.3s ease;
}

.project:hover .project-info {
    transform: translateY(0);
}

.project .project-info h3 {
    color: #FFF;
    margin-top: 0;
}

.project .info-button {
    background-color: #FFF;
    color: #000;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.project .project-details {
    display: none;
    color: #FFF;
}

.project:hover .project-details {
    display: block;
}

.project-details a {
    color: #FFF;
    text-decoration: underline;
}
.project {
    width: calc(33.33% - 20px); /* Ancho de cada proyecto con espacio entre ellos */
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

.project img {
    width: 100%; /* Asegura que todas las imágenes ocupen todo el ancho del contenedor */
    height: auto; /* Permite que la altura se ajuste automáticamente según el ancho */
    object-fit: cover; /* Mantiene la relación de aspecto original y cubre el contenedor */
}
.project {
    width: calc(33.33% - 20px); /* Ancho de cada proyecto con espacio entre ellos */
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    display: flex; /* Convertir el contenedor en un flex container */
    flex-direction: column; /* Alinear los elementos en una columna */
    align-items: center; /* Centrar horizontalmente */
    text-align: center; /* Centrar el texto */
}
.project-section-title {
    text-align: center; /* Centra el contenido del contenedor */
}

.project-section-title img {
    display: block; /* Asegura que la imagen se comporte como un bloque */
    margin: 0 auto; /* Centra la imagen horizontalmente */
}

/* Media query para pantallas más pequeñas (celulares) */
@media only screen and (max-width: 768px) {
    .project-section {
        flex-direction: column; /* Cambia la dirección de los proyectos a una columna */
        align-items: center; /* Centra los proyectos horizontalmente */
    }

    .project {
        width: 100%; /* Ocupa todo el ancho disponible */
    }
}


/*CONTAC ME */

.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.logo {
    margin-bottom: 20px;
}

.logo img {
    width: 250px; /* Aumenta el tamaño del logo */
    border-radius: 10px; /* Borde redondeado */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

.social-icons {
    margin-bottom: 30px;
}

.social-icons a {
    margin-right: 30px; /* Espacio entre los iconos */
}

.social-icons img {
    width: 50px; /* Aumenta el tamaño de los iconos de redes sociales */
}

.contact-details {
    display: flex;
    flex-direction: column;
    text-align: center; /* Centra el texto */
}

.contact-details div {
    margin-bottom: 20px;
}

.contact-details img {
    width: 40px; /* Aumenta el tamaño de los iconos de correo y teléfono */
    margin-right: 10px; /* Espacio entre el icono y el texto */
}

.contact-details span {
    color: #555; /* Color del texto */
    font-size: 18px; /* Tamaño del texto */
}

/* Animación al pasar el mouse sobre el logo */
.logo img:hover {
    transform: rotate(360deg); /* Rotación de 360 grados */
    transition: transform 0.5s ease; /* Transición suave */
}
.contact-details span {
    color: #FFFCE9; /* Color blanco */
}


/* Media query para pantallas más pequeñas (celulares) */
@media only screen and (max-width: 768px) {
    /* Estilos específicos para pantallas de hasta 768px de ancho */
    .about-me-image {
        width: 70%; /* Ajustar el ancho de la imagen */
        max-width: none; /* Quitar el ancho máximo */
    }
}


  .info-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    color: #FFFCE9 /* Cambia el color del texto a un gris oscuro */
    background-color: #FFFCE9;
    border: 2px solid #212121;
    border-radius: 20px;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  /* Estilo Y2K para el botón al pasar el cursor sobre él */
  .info-button:hover {
    background-color: #212121;
    color: #FFFCE9;
  }